{{> appbar}}
<div class="chatContainer">
  <h3 class="chatTitle">Buyer community chat</h3>
  <div class="messagesLogs" id="messagesLogs"></div>
  <div class="chatInputContainer">
    <input class="chatInput"  type="text" id="chatBox" />
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>

<script>
    let user = {{{jsonStringify user}}};
</script>

<script src="js/chat.js"></script>