<div class="cartCard" style="margin-top: 2rem;" id="cartContainer">
  <div style="font-size: 1.3rem; text-align:center; margin: auto;">
    Reset password mail sent successfully. Please check your mail.
  </div>
  <div class="authRedirect">
    <a class="aFix" href="/views/login">Return to login</a>
  </div>
</div>