<div class="authPage">
  <div class="authContainer">
    <form
      class="authCard"
      action="/api/auth/requestPasswordReset"
      method="POST"
    >
      <div class="authTitle">Generate Reset password email</div>
      <label for="email">Email:</label>
      <input class="input" type="email" id="email" name="email" required />
      <button class="button" type="submit">Enviar Correo de Restablecimiento</button>
      <div class="authRedirect">
        <a class="aFix" href="/views/login">Return to login</a>
      </div>
    </form>

  </div>
</div>

{{#if error}}
  <p class="error-message">{{error}}</p>
{{/if}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const error =
  {{{jsonStringify error}}}
</script>
<script src="js/form_password_reset.js"></script>