<div class="authPage">
  <div class="authContainerReset">
    <form
      class="authCardReset"
      action="/api/auth/requestPasswordReset"
      method="POST"
    >
      <div class="authTitle">PASSWORD RESET</div>
      <label for="email"></label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        required
        placeholder="Email"
      />
      <button class="button" type="submit">Send Mail</button>
      <div class="authRedirect">
        <a class="aFix" href="/views/login">Return to LOGIN</a>
      </div>
    </form>

    <div class="imgContainer">
      <img class="loginImg" src="images/logo_img.png" alt="Login Cartoon" />
    </div>
  </div>
</div>

{{#if error}}
  <p class="error-message">{{error}}</p>
{{/if}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const error =
  {{{jsonStringify error}}}
</script>
<script src="js/form_password_reset.js"></script>