{{> appbar}}
<div style="font-family: Roboto">
  <div>
        {{!-- <h1 > {{products.page}}</h1> --}}
    <div id="productCardsContainer">
    </div>
    {{!-- <div id="pageButtonsContainer">
      <a id="prevButton"></a>
      <div id="pageCounter"></div>
      <a id="nextButton"></a>
    </div> --}}

  </div>
</div>

<script>
  
  let products = {{{jsonStringify products}}};
  let user = {{{jsonStringify user}}};

</script>
<script src="js/mocking_products.js"></script>