{{> appbar}}

<div class="profilePage">
  <div class="ProfileContainer">
    <div class="authCard align">
      <div class="placeholderImage"></div>
      <div class="profileText">
        <div>First Name:</div><div> {{user.first_name}}</div>
      </div>
      <div class="profileText">
        <div>Last Name:</div><div> {{user.last_name}}</div>
      </div>
      <div class="profileText">
        <div>Age:</div><div> {{user.age}}</div>
      </div>
      <div class="profileText">
        <div>Rol:</div><div> {{user.rol}}</div>
      </div>
      </div>
    </div>
  </div>
</div>