<div class="authPage">
  <div class="authContainer">
    <form class="authCard" action="/api/auth/register" method="post">
      <img class="veggieLife" src="images/veggielife.png" alt="Veggie Life" />
      <div class="authTitle"><span class="toOurW">Just </span>SIGN UP <span class="toOurW">and Start Enjoying </span></div>

      <div class="flex-row gap2">
        <div class="flex-col">
          <label for="first_name"></label>
          <input
            class="input"
            type="text"
            id="first_name"
            name="first_name"
            required
            placeholder="First Name"
          />
          <br />
          <label for="last_name"></label>
          <input
            class="input"
            type="text"
            id="last_name"
            name="last_name"
            required
            placeholder="Last Name"
          />
          <br />
          <label for="age"></label>
          <input 
            class="input" 
            type="number" 
            id="age" 
            name="age" 
            required 
            placeholder="Age"/>
        </div>

        <div class="flex-col">
          <label for="email"></label>
          <input 
            class="input" 
            type="email" 
            id="email" 
            name="email" 
            required 
            placeholder="Email"/>
            <br />
          <label for="password"></label>
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
          </br>
        </div>
      </div>

      <button class="button mtop-2" type="submit">SIGN UP</button>

      <div class="githubAuth">
        <a class="aFix" href="/api/auth/github">
          <img class="githubLogo" src="images/github-mark-white.png" />
        </a>
      </div>
      <div class="authRedirect">Already have an account?
        <a class="aFix" href="/views/login">Log in</a></div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const error =
  {{{jsonStringify error}}}
</script>

<script src="js/register.js"></script>