<div class="appbar"> 
  <div class="menuButtons">
    <div><a class="navButton {{#if active.realtime_products}}active{{/if}}" href="/views/realtime_products">EDIT PRODUCTS</a></div>
    <div><a class="navButton {{#if active.profile}}active{{/if}}" href="/views/profile">PROFILE</a></div>
    <div><a class="navButton {{#if active.test}}active{{/if}}" href="/views/test">TEST</a></div>
    <div><a class="navButton" href="/api/auth/logout">LOGOUT</a></div>
  </div>
</div>