<div class="appbar d-flex a-center j-between">
  <div class="logoGreetingContainer d-flex a-center">
    <div class="navButton">
      <img src="images/veggielife.png" alt="Logo" class="mainLogo">
    </div>
    <div class="greeting navButton"><span class="toOurW">Welcome </span><span class="toOurW greenLettuce">{{user.first_name}}</span><span class="toOurW">! ...</span><span class="toOurW"> you have been granted the </span><span class="toOurW greenLettuce">{{user.rol}}</span><span class="toOurW"> Rol. Enjoy!</span></div>
  </div>

  <div class="menuButtons">
    {{#ifCondOr user.rol "user"}}
      <div><a class="navButton {{#if active.products}}active{{/if}}" href="/views/products">PRODUCTS</a></div>
      <div><a class="navButton {{#if active.mocking_products}}active{{/if}}" href="/views/mocking_products">MOCK PRODUCTS</a></div>
      <div><a class="navButton {{#if active.cart}}active{{/if}}" href="/views/cart">CART</a></div>
      <div><a class="navButton {{#if active.chat}}active{{/if}}" href="/views/chat">CHAT</a></div>
    {{/ifCondOr}}
    {{#ifCondOr user.rol "admin" }}
      <div><a class="navButton {{#if active.realtime_products}}active{{/if}}" href="/views/realtime_products">EDIT PRODUCTS</a></div>
      <div><a class="navButton {{#if active.chat}}active{{/if}}" href="/views/users_settings">USERS SETTINGS</a></div>
    {{/ifCondOr}}
    {{#ifCondOr user.rol "premium"}}
      <div><a class="navButton {{#if active.products}}active{{/if}}" href="/views/products">PRODUCTS</a></div>
      <div><a class="navButton {{#if active.mocking_products}}active{{/if}}" href="/views/mocking_products">MOCK PRODUCTS</a></div>
      <div><a class="navButton {{#if active.cart}}active{{/if}}" href="/views/cart">CART</a></div>
      <div><a class="navButton {{#if active.chat}}active{{/if}}" href="/views/chat">CHAT</a></div>
      <div><a class="navButton {{#if active.realtime_products}}active{{/if}}" href="/views/realtime_products">EDIT PRODUCTS</a></div>
    {{/ifCondOr}}
      <div><a class="navButton {{#if active.profile}}active{{/if}}" href="/views/profile">PROFILE</a></div>
      <div><a class="navButton" href="/api/auth/logout">LOGOUT</a></div>
  </div>
</div>

